h1{
    font-size: 500%;
    background-color: #c47dba;
}

p{
    background-color: #aac560;
    font-size: 300%;
    text-align: end;
}

footer{
    display: flex;
    padding-bottom: 20px;
}

footer p{
    background-color: bisque;
}

footer img{
    padding-top: 20px;
    padding-bottom: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
    h1{
        font-size: 300%;
        white-space: nowrap;
    }

    p{
        font-size: 180%;
    }
}

@media (max-width: 750px) {
    h1{
        text-align: center;
        font-size: 200%;
    }

    p{
        text-align: center;
        font-size: 120%;
    }
}