/*Reseteo de propiedades*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*LAYOUT ---------------------------------------------------------*/
/*display/position/float -------------------*/
#arts article, footer{
    display: flex;
}
/*height/width/padding/border/margin -------*/

#appearingtext{
    padding: 20px 0 20px 0;
}

main img{
    width: 100%;   
}

#arts{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#arts article{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 700px;
    margin: 1%;
}

#arts article h2{
    margin: 10px 0 10px 0;
}

#arts article p{
    margin: 0 20px 0 20px;
}

footer{
    padding-bottom: 20px;
}

footer img{
    padding-top: 20px;
    padding-bottom: 10px;
}

/*NAV --------------------------------------*/
#logo{
    margin-top: 10px;
    height: 55px;
}

#checkbutton{
    margin-top: 25px;
}

nav{
    background: #7AB325;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 9px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: sans-serif;
}

nav li a.active, nav li a:hover{
    background: #000090;
    transition: .5s;
}

#checkbutton{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

nav section{
    background: url(pics/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

nav ul li ul.submenu {
    display: none;
    position: absolute;
    background-color: #7AB325;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul li:hover ul.submenu {
    display: block;
}

nav ul li ul.submenu li {
    width: 100px;
    float: none;
}

nav ul li:hover > ul.submenu {
    display: block;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    #checkbutton{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/*BODY -------------------------------------*/
body{
    font-family: "Montserrat", sans-serif;
}

/*MAIN -------------------------------------*/
/*Las fotos*/

#images-wrapper {
    background-image: url(fotos/seamlessback.jpg);
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

#images-wrapper img {
    width: 100% !important;
    height: auto !important;
}

#images-wrapper {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1000px) {
    #images-wrapper {
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #images-wrapper {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #images-wrapper {
        column-count: 1;
    }
}


/*Fin*/

main h1{
    font-size: 50px;
    animation: changecolour 3s forwards;
}

@keyframes changecolour {
    0%{
        color: black;
    }
    100%{
        color: rgb(94, 94, 255);
    }
}

#appearingtext{
    background:linear-gradient(to bottom, rgb(122, 179, 37), white);
    text-align: center;
}

#arts{
    background-image: url(fotos/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#arts article{
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*FOOTER -----------------------------------*/
footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    background-color: bisque;
}
